add_index
digitalnet_index
search_lowwafom
search_lowwafom.*.txt
search_lowwafom_mpi
search_lowwafom_mpi*.txt
test_double
test_gray
test_maxmin
test_calc_cvmean
test_calc_tvalue
test_calc_wafom
test_combination
test_digitalnet
test_digital.*.txt
test_digitalnet.*.txt
setup.sh
solw.*.txt
tmp.csv
linear.d
